/***** Main styles *****/

* {
	box-sizing: border-box;
}

body {
	background: #f6f6f6;
	color: #3A5159;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin: 0;
}

span, h3 {
	font-weight: 700;
	color: #F22652;
}

section {
	width: 75%;
	margin: 0 auto;
	padding: 1em 0;

}


/******* Content styles *****/

#main-content h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 48px;
	margin: 0;
}

#contact img {
	height: 30px;
	margin: 0 10px;
}

#image img {
	width: 300px;
}


h3 {
	display: inline;
	font-size: 28px;
	margin: 15px 0;
}

#image, h1, #contact {
	text-align: center;
}

